@import "mixin";

:root {
    // 主色
    --cs-primary-color: #4857E2;
    // 主色悬停
    --cs-primary-color-hover: #4958DE;
    // 主色点击（激活）
    --cs-primary-color-active: #4351CD;
    // 主色禁用
    --cs-primary-color-disabled: #CED3FF;
    // 主色透明
    --cs-primary-color-transparent: rgba(72, 87, 226, 0.08);

    // 标记色
    --cs-mark-color: #FED38C;
    // 错误色
    --cs-error-color: #F53F3F;
    // 错误色悬停
    --cs-error-color-hover: #FFA2A2;
    // 警告色
    --cs-warning-color: #FF7D00;
    // 警告色悬停
    --cs-warning-color-hover: #FFC892;
    // 成功色
    --cs-success-color: #00B42A;
    // 成功色悬停
    --cs-success-color-hover: #E7F8F2;

    // 一级文字
    --cs-font-color: #333;
    // 二级文字
    --cs-font-color-2: #666;
    // 三级文字
    --cs-font-color-3: #999;
    // 文字禁用
    --cs-font-color-disabled: #efefef;
    // 文字链接色
    --cs-font-color-anchor: #0062FF;
    // 文字反色
    --cs-font-color-invert: #fff;

    // 边框（线条）色
    --cs-border-color: #e6e6e6;

    // 背景色
    --cs-bg-color: #fff;
    // 背景色2（灰底）
    --cs-bg-color-2: #f5f5f5;
    // 背景色3（更灰）（例如按钮点击状态）
    --cs-bg-color-3: #eaeaea;
    // 背景色禁用
    --cs-bg-color-disabled: #f9f9f9;

    // 页面背景色
    --cs-page-bg-color: #fff;

    // 圆角
    --cs-border-radius: 8px;
    // 卡片内边距
    --cs-card-padding: 16px;

    // 基础投影。描述：组件 hover 状态使用，例如表格和树拖动
    --cs-box-shadow: 0 1px 10px rgba(0, 0, 0, 5%), 0 4px 5px rgba(0, 0, 0, 8%), 0 2px 4px -1px rgba(0, 0, 0, 12%);
    // 中层投影。描述：下拉组件使用，例如下拉菜单 / 气泡确认框 / 选择器 等
    --cs-box-shadow-2: 0 3px 14px 2px rgba(0, 0, 0, 5%), 0 8px 10px 1px rgba(0, 0, 0, 6%), 0 5px 5px -3px rgba(0, 0, 0, 10%);
    // 顶层投影。描述：警示或弹窗组件使用，例如全局提示 / 消息通知等
    --cs-box-shadow-3: 0 6px 30px 5px rgba(0, 0, 0, 5%), 0 16px 24px 2px rgba(0, 0, 0, 4%), 0 8px 10px -5px rgba(0, 0, 0, 8%);

}

mat-icon {
    svg {
        vertical-align: top;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

ul, ol {
    padding-inline-start: 0;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

li {
    list-style: none;
}

input, textarea {
    outline: none;
    border: none;
}

.dl-page {
    display: flex;
    height: 100%;
    color: var(--cs-font-color);
    background: var(--cs-page-bg-color);

    main {
        flex: 1;
        min-width: 690px;
        background: var(--cs-bg-color);
        height: 100%;
    }

    .dl-page-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 16px;
    }

    .page-main-top {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 16px;
        position: relative;
        color: var(--cs-font-color);
        height: 60px;

        &::after {
            position: absolute;
            bottom: -1px;
            left: -16px;
            right: 0;
            content: '';
            width: calc(100% + 32px);
            height: 1px;
            @include carving_line();
        }

        .content {
            flex: 1;

            h2 {
                font-size: 16px;
            }
        }

        .tools {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    .control-group {
        padding: 16px 16px 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.dl-dropdown-menu {
    border-radius: var(--cs-border-radius);
    background: var(--cs-bg-color);
    box-shadow: var(--cs-box-shadow-3);
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    &-title {
        margin: 0;
        display: flex;
        align-items: center;
        height: 25px;
        padding: 0 8px;
        font-size: 12px;
        color: var(--cs-font-color-3);
    }

    &-divider {
        height: 1px;
        width: 100%;
        background: var(--cs-border-color);
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 8px;
        color: var(--cs-font-color);
        transition: all ease .2s;
        cursor: pointer;
        border-radius: var(--cs-border-radius);
        height: 36px;
        min-width: 120px;

        &:hover {
            background-color: var(--cs-bg-color-2);
        }

        &.active {
            color: var(--cs-primary-color);
            position: relative;
            padding-right: 28px;

            &::after {
                content: '✓';
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        > i {
            width: 1em;
            height: 1em;
            font-size: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        mat-icon {

        }

        &__title, &__desc {
            flex: 1;
            overflow: hidden;
            @include text-ellipsis(1);
        }

        &__desc {
            color: var(--cs-font-color-3);
            font-size: x-small;
        }
    }

    .dl-dropdown-menu-divider {
        height: 1px;
        width: 100%;
        background: var(--cs-border-color);
    }
}

.dl-icon {
    @include flex-center;
}

.dl-btn-hover {
    @include dl-btn-hover;
}

.dl-error-btn {
    @include dl-error-btn;
}

.dl-form-item {
    @include dl-form-item;
}

.dl-input {
    @include dl-input;
}

.dl-textarea {
    @include dl-textarea;
}

.dl-dialog {
    @include dl-dialog;
}

.dl-tag {
    @include dl-tag;
}

.dl-skeleton {
    @include dl-skeleton;
}

.dl-textoverflow {
    @include text-ellipsis(1);
}

.dl-avatar-16 {
    @include dl-avatar(16px);
}

.dl-avatar-20 {
    @include dl-avatar(20px);
}

.dl-avatar-24 {
    @include dl-avatar(24px);
}

.bc_icon.bc_shoucang-fill {
    color: #FFCC17;
}

.dl-ani-dropdown {
    transform: scale(0);
    transform-origin: top;
    opacity: 0;

    @keyframes dl-menu-open {
        from {
            opacity: 0;
            transform: scaleY(0);
        }
        to {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    animation: dl-menu-open 225ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.dl-ani-dropdown-close {
    @keyframes dl-menu-close {
        0% {
            opacity: 1;
            transform: scaleY(1);
        }
        60% {
            opacity: 0;
        }
        100% {
            opacity: 0;
            transform: scaleY(0);
        }
    }
    animation: dl-menu-close 225ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.cdk-overlay-container:has(.dl-overlay-z-high) {
    z-index: 999999;
}

.cdk-overlay-container:has(.dl-overlay-z-higher) {
    z-index: 9999999;
}

[data-blockcraft-root="true"] {
    .page-divider-block {
        padding: 8px 0;
        break-before: page; /* 现代写法 */
        page-break-before: always; /* 兼容旧版 */

        .page-divider {
            height: 1px;
            background: var(--cs-border-color);
            width: 100%;
        }
    }

    > .page-divider-block {
        margin-bottom: 24px;
        padding: 0;
        margin-left: 0 !important;

        &.selected {
            .page-divider {
                &::before {
                    border-bottom: 2px solid var(--bc-select-background-color);
                }

                &::after {
                    border-top: 2px solid var(--bc-select-background-color);
                }
            }
        }

        @media print {
            > .page-divider {
                display: none;
            }
        }

        .page-divider {
            width: calc(100% + 128px);
            transform: translateX(-64px);
            height: 44px;
            padding: 8px 0;
            background: var(--cs-bg-color-2);
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                height: 8px;
                width: 100%;
                content: '';
                background: var(--cs-bg-color);
                border-radius: 0 0 8px 8px;
            }

            &::after {
                position: absolute;
                bottom: 0;
                height: 8px;
                width: 100%;
                content: '';
                background: var(--cs-bg-color);
                border-radius: 8px 8px 0 0;
            }
        }
    }
}
