$icon-folder-color: #FFAD16;
$icon-space-color: var(--cs-primary-color);

@mixin text-ellipsis($lines: 3) {
    @if ($lines == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-y {
    display: flex;
    align-items: center;
}

@mixin flex-center-x {
    display: flex;
    justify-content: center;
}

@mixin carving_line() {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 1011 1%22 preserveAspectRatio=%22none%22><path d=%22M1011 1.00009L0 1C0 1 251.971 0 505.5 0C759.029 0 1011 1.00009 1011 1.00009Z%22 fill=%22%23D5D1CF%22/></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

// 美化滚动条
@mixin scrollbar($width: 8px, $color: #d5d1cf, $bg-color: #fff) {

    &::-webkit-scrollbar {
        width: $width;
        height: $width;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $width;
        background-color: $color;
    }

    &::-webkit-scrollbar-track {
        border-radius: $width;
        background-color: $bg-color;
    }
}

@mixin dl-dialog {
    display: block;
    background: var(--cs-bg-color);
    border-radius: var(--cs-border-radius);
    box-shadow: var(--cs-box-shadow-2);

    .dialog-header {
        position: relative;
        height: 64px;
        padding: 0 24px;
        display: flex;
        align-items: center;
    }

    .dialog-close-btn {
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--cs-font-color-3);
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 24px;
        border-radius: 50%;
        transition: all ease-in-out .15s;

        &:hover {
            background-color: var(--cs-bg-color-2);
        }
    }

    .dialog-title {
        color: var(--cs-font-color);
        font-weight: 600;
        font-size: 16px;
    }

    .dialog-divider-line {
        width: 100%;
        height: 1px;
        @include carving_line();
    }

    .dialog-body {
        padding: 24px;
    }

    .dialog-footer {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        align-items: center;
        height: 64px;
        padding: 0 24px;
    }
}

@mixin dl-btn-hover {
    border-radius: 4px;
    transition: all ease-in-out .15s;
    cursor: pointer;

    &:hover {
        background: var(--cs-bg-color-2);
    }

    &.active {
        color: var(--cs-primary-color);
        background: var(--cs-bg-color-3);
    }
}

@mixin dl-error-btn {
    color: var(--cs-error-color);

    &:hover {
        background: rgba(245, 63, 63, 0.1);
    }
}

@mixin dl-tag {
    height: 18px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    padding: 0 4px;
    font-size: 10px;
    @include text-ellipsis(1);

    > i {
        font-size: 8px;
    }
}

@mixin dl-form-item {
    margin-bottom: 24px;
    color: var(--cs-font-color-2, #666);
    font-size: 14px;

    &:last-child {
        margin-bottom: 0;
    }

    label {
        display: block;
        line-height: 32px;
    }
}

@mixin dl-input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    border-bottom: 1px solid var(--cs-border-color);
    line-height: 20px;
    height: 32px;
    background: unset;
    transition: all ease .2s;

    &[placeholder] {
        &::placeholder {
            color: var(--cs-font-color-3);
        }
    }

    &[disabled] {
        border-bottom: none;
        background: unset;
    }

    input {
        flex: 1;

        &::placeholder {
            color: var(--cs-font-color-3);
        }

        &[disabled] {
            border-bottom: none;
            background: unset;
        }
    }

    &:focus-within {
        border-bottom: 1px solid var(--cs-primary-color);
    }

    &.error {
        border-bottom: 1px solid var(--cs-error-color);

        &::placeholder {
            color: var(--cs-error-color, #F56C6C);
        }
    }

}

@mixin dl-textarea {
    @include dl-input;
    overflow-y: auto;
    resize: none;
    height: unset;
}

@mixin dl-skeleton {
    position: relative;
    z-index: 0;
    overflow: hidden;
    background: transparent;

    &::after {
        position: absolute;
        inset: 0 -200%;
        background: linear-gradient(90deg, #bebebe33 25%, #8181813d 37%, #bebebe33 63%);
        animation: ant-skeleton-loading 1.4s ease infinite;
        content: "";
    }
}

@mixin dl-avatar($size: 16px) {
    width: $size;
    height: $size;
    border-radius: 50%;
    overflow: hidden;
    background: var(--cs-bg-color-2);
}
