@use "../../styles/mixin" as *;;

:host {

    aside {

        .aside-head {
            margin-bottom: 24px;
            height: 48px;

            .page-title {
                margin-bottom: 4px;
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
            }

            .page-slogan {
                margin: 4px 0 24px 0;
                font-size: 12px;
                color: var(--cs-font-color-3);
                font-weight: normal;
                line-height: 18px;
            }

        }

        .main-add-button {
            width: 100%;
            outline: none;
            border: none;
            height: 36px;
            padding-left: 8px;
            display: flex;
            align-items: center;
            gap: 4px;
            background: var(--cs-primary-color);
            border-radius: 8px;
            color: var(--cs-font-color-invert);
            font-size: 14px;

            &:hover {
                background: var(--cs-primary-color-hover);
            }

            .text {
                flex: 1;
                text-align: start;

                i {
                    margin-right: 4px;
                }
            }

            .dropdown-btn {
                height: 100%;
                padding: 0 8px;
                display: flex;
                align-items: center;
                border-left: 1px solid rgba(255, 255, 255, .3);
            }
        }

    }

    .space-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &-head {
        }

        &-item {
            padding: 0 8px 0 20px;
            display: flex;
            align-items: center;
            gap: 4px;
            height: 36px;
            cursor: pointer;
            border-radius: var(--cs-border-radius, 8px);
            transition: all ease .2s;

            &:hover {
                background: var(--cs-bg-color-2);
            }

            .icon-space {
                color: var(--cs-primary-color);
                font-size: 16px;
            }
        }


        &-content {
        }
    }

    .group-title {
        padding: 0 8px;
    }

}




