@mixin button-simple {
    border: 1px solid var(--cs-border-color);
    color: var(--cs-font-color);
}

@mixin button-primary {
    border-color: var(--cs-primary-color);
    background: var(--cs-primary-color);
    color: var(--cs-font-color-invert);
}

@mixin button-gray {
    background: var(--cs-border-color);
}

@mixin button-danger {
    color: var(--cs-error-color);
    border: 1px solid var(--cs-error-color);
}

:host {
    min-width: 74px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 32px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all ease 0.2s;
    padding: 0 8px;
    white-space: nowrap;

    &.borderless {
        border: none !important;
        border-radius: 0 !important;
    }

    &[type="simple"] {
        @include button-simple;

        &:hover {
            @include button-gray;
        }
    }

    &[type="primary"] {
        @include button-primary;

        &:hover {
            background: var(--cs-primary-color-hover);
        }
    }

    &[hover-type='primary'] {
        &:hover {
            @include button-primary;
        }
    }

    &[type="gray"] {
        @include button-gray;
    }

    &[hover-type='gray'] {
        &:hover {
            @include button-gray;
        }
    }

    &[type="danger"] {
        @include button-danger;

        &:hover {
            color: #fff;
            background: var(--cs-error-color);
        }

        &.borderless {
            &:hover {
                background: var(--cs-error-color-hover);
            }
        }
    }

    &[hover-type='danger'] {

    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
