@use "../../styles/mixin" as *;

:host .dl-dialog {
    width: 360px;
    background: var(--cs-bg-color);

    .dialog-body {

        .msg {
            color: var(--cs-font-color-3);
            margin-bottom: 12px;
        }
    }
}
