@use "../../styles/mixin" as *;

:host {
    position: relative;
    display: block;
    width: 540px;
    background: #fff;
    border-radius: 4px;
    box-shadow: var(--cs-box-shadow-3);
    @include dl-dialog;

    .dialog-header {
        gap: 8px;
    }
}

.dialog-body {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__label {
            font-size: 14px;
            color: #333;
            margin-right: 16px;
        }

        &__input {
            width: 100%;
            padding: 8px;
            border: 1px solid #E6E6E6;
            border-radius: 4px;
            font-size: 14px;
        }
    }

    h4 {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
    }

    .btn-confirm {
        width: 64px;
        padding: 0;
        border-radius: 4px;
        font-size: 12px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        background: var(--cs-primary-color);
        color: #fff;
        cursor: pointer;

        &[disabled] {
            background: #E6E6E6;
            color: #999;
            cursor: not-allowed;
        }
    }

    .btn-dropdown {
        padding: 0 4px;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        height: 28px;
        border-radius: 4px;
        width: fit-content;
        @include dl-btn-hover;

        &[disabled] {
            > i {
                display: none;
            }
        }

        > i {
            font-size: 16px;
            color: #999;
        }
    }

    ::ng-deep .collaborators-inputer {
        @include dl-input;
        font-size: 14px;
        height: 36px;

        > input {
            flex: 1;
            outline: none;
            border: none;
            height: 24px;
        }
    }
}

.modal-footer {
    display: flex;
    align-items: center;
    padding: 0 24px;
    gap: 16px;
    height: 64px;
    border-radius: 0px 0px 8px 8px;
    background: #F9FAFB;
    position: relative;

    > .button {
        width: 32px;
        height: 32px;
        border: 1px solid #E6E6E6;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.2s;
        color: #333;
        font-size: 14px;
        background: #fff;

        &:hover {
            background: #F0F1F3;
        }

    }
}
