@use "../../../../../styles/mixin" as *;

:host {
    @include dl-dialog;
    box-shadow: var(--cs-box-shadow-2);

    .dialog-body {
        width: 530px;
        height: 168px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .like-btn {
        position: relative;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid var(--cs-border-color);
        //border: 2px solid transparent; /* 保留边框的宽度 */
        //background: linear-gradient(white, white) padding-box,
        //linear-gradient(#4857E2, #48BEE3, #48BEE3, #4857E2) border-box;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        > i {
            font-size: 36px;
            color: var(--cs-primary-color);
        }

        &[data-is-like="false"] {

            &:hover {
                &:after {
                    position: absolute;
                    content: '';
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    background: rgba(72, 87, 226, 0.06);
                }
                &::before {
                    position: absolute;
                    content: '';
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    border: 1px solid var(--cs-primary-color);
                    animation: bf_scale-down 0.8s ease-in-out infinite;
                }

                > i {
                    animation: bf_scale-down_2 0.6s ease-in infinite alternate;
                }
            }

        }

        &[data-is-like="true"] {
            background: var(--cs-primary-color);

            > i {
                color: #fff;
            }

            //> i {
            //    background: linear-gradient(#48BDE2, #48BDE2, #4857E2);
            //    -webkit-background-clip: text;
            //    -webkit-text-fill-color: transparent;
            //}
        }
    }

    @keyframes bf_scale-down {
        0% {
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(0.1);
        }
    }

    @keyframes bf_scale-down_2 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.6);
        }
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .text .line {
        width: 132px;
        height: 1px;
    }

    .text .line.left {
        background: linear-gradient(90deg, #E6E6E6 0%, rgba(230, 230, 230, 0.00) 100%);
        transform: rotate(180deg);
    }

    .text .line.right {
        background: linear-gradient(-90deg, rgba(230, 230, 230, 0.00) 0%, #E6E6E6 100%);

    }

    .text span {
        font-size: 12px;
        color: rgba(153, 153, 153, 0.90);
    }

    .text.active span {
        background: linear-gradient(180deg, var(--cs-primary-color) 0%, #48ABE2 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text.active .line.left {
        background: linear-gradient(90deg, #4863E3 0%, rgba(72, 98, 227, 0.00) 100%);
    }

    .text.active .line.right {
        background: linear-gradient(90deg, #4863E3 0%, rgba(72, 98, 227, 0.00) 100%);
    }

    .users-list {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}
