.tags-filter-wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .row {
        display: flex;
        align-items: center;
        gap: 8px;

        label {
            font-size: 14px;
            font-weight: 500;
            color: var(--cs-font-color);
            min-width: fit-content;
        }

        .btn-reset {
            margin-left: 8px;
            font-size: 14px;
            color: var(--cs-primary-color);
            cursor: pointer;
            min-width: fit-content;
        }

        .btn-expand {
            transition: transform .2s ease-in-out;

            &.active {
                transform: rotate(-180deg);
            }
        }
    }

    .tag-group {
        min-width: 0;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        .row {
            display: flex;
            align-items: center;
            gap: 8px;

            label {
                font-size: 14px;
                font-weight: 500;
                color: #000;
            }
        }

        dl-tag {
            max-width: 6em;
        }
    }
}

:host {
    ::ng-deep .table-tag-row {
        display: flex;
        gap: 4px;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
        width: 100%;
    }
}



