@use "../../styles/mixin" as *;

:host {
  @include dl-dialog;

  .dialog-header {
    border-bottom: 1px solid var(--cs-border-color);
  }

  .dialog-content {

    .card-list {
      padding: 28px 52px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .card {
        width: 234px;
        height: 250px;
        border-radius: 4px;
        background: #FFF;
        cursor: pointer;
        transition: all ease .2s;
        box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.03), 0 10px 18px 2px rgba(0, 0, 0, 0.04), 0 4px 8px -2px rgba(0, 0, 0, 0.08);

        &:hover {
          box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.05), 0 16px 24px 2px rgba(0, 0, 0, 0.04), 0 8px 10px -5px rgba(0, 0, 0, 0.08);
        }

        &.empty {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 12px;

          i {
            color: var(--cs-primary-color);
            font-size: 48px;
          }

          p {
            color: var(--cs-font-color-3);
            font-size: 14px;
          }
        }


      }


    }

  }
}
