@use "../../styles/mixin" as *;;

.dl-dialog {
    width: clamp(600px, 60vw, 800px);

    .icon-space {
        color: $icon-space-color;
    }

    .dialog-body {
        height: 560px;
        display: flex;
        padding: 12px;
    }

    .left {
        width: 230px;
        height: 100%;
        padding: 12px;
        border-right: 1px solid var(--cs-border-color);
    }

    .left-tit {
        color: var(--cs-font-color-3);
    }

    .space-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-top: 16px;

        .space-item {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 14px;
            height: 36px;
            padding: 0 8px;

            &.is-disabled {
                opacity: 0.5;
            }
        }
    }

    .right {
        flex: 1;
        padding: 16px;
        overflow: auto;
    }

}
