@use "../../styles/mixin" as *;

.file-table-list {
    overflow-y: auto;

    &-item {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 4px;
        height: 74px;
        color: var(--cs-font-color-3);
        transition: all ease .2s;
        cursor: pointer;
        border-bottom: 1px solid var(--cs-border-color);
        font-size: 14px;

        &:hover {
            background: #EBEDEF;
            //box-shadow: 0 0 4px 2px rgba(0, 0, 0, .08);;
        }

        .item {
            position: relative;
            min-width: 150px;
            display: flex;
            align-items: center;
            gap: 4px;

            @for $i from 2 through 5 {
                &:nth-child(#{$i}) {
                    width: var(--col-size-#{$i - 1});
                }
            }

            .resize-bar {
                cursor: col-resize;
                position: absolute;
                right: 8px;
                width: 0;
                height: 100%;
                border-right: 4px double var(--cs-border-color);
            }
        }

        .btn-select {
            min-width: 30px;
            text-align: center;

            > i {
                width: 18px;
                height: 18px;
                line-height: 18px;
            }
        }


        .btn-more {
            cursor: pointer;
            text-align: center;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            > * {
                pointer-events: none;
            }

            > i {
                font-size: 20px;
            }

        }

        .item-info {
            .icon {
                min-width: 40px;
                min-height: 40px;
            }

            > div {
                flex: 1;
                overflow: hidden;

                &:hover {

                    .title {
                        .item-title {
                            color: var(--cs-primary-color);
                        }

                        dl-favorite-icon {
                            display: block;
                        }
                    }

                }

                .title {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    line-height: 25px;
                    padding-right: 8px;

                    .item-title {
                        font-weight: 500;
                        color: var(--cs-font-color);
                        @include text-ellipsis(1);
                    }

                    dl-favorite-icon {
                        display: none;
                        flex-shrink: 0;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        cursor: pointer;

                        &.active {
                            display: block !important;
                        }
                    }

                    .tag {
                        width: 28px;
                        height: 18px;
                        line-height: 18px;
                        text-align: center;
                        border-radius: 4px;
                        background: #D5FFFC;
                        font-size: 10px;
                        color: #0BC1D2;
                    }
                }
            }

            .other {
                height: 25px;
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 12px;
                color: var(--cs-font-color-3);
            }
        }

        .item-owner, .item-time {
            padding-left: 12px;
            @include text-ellipsis(1);
        }
    }
}


