:host {
    display: block;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    width: 542px;

    .list {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 4px;
        width: 100%;
        max-height: 50vh;
        overflow-y: auto;

        .item {
            width: 100%;
            height: 50px;
            padding: 4px 16px;
            display: flex;
            align-items: center;
            gap: 8px;
            border-radius: 4px;
            cursor: pointer;

            mat-icon {
                min-width: 24px;
                width: 24px;
                height: 24px;
            }

            ::ng-deep mark {
                background: var(--cs-mark-color);
            }

            .info {
                flex: 1;

                .title {
                    font-size: 14px;
                    margin: 0;
                    line-height: 20px;
                    color: #333;
                    font-weight: 600;
                }

                .desc {
                    font-size: 12px;
                    margin: 4px 0 0;
                    line-height: 17px;
                    color: #999;
                }
            }
        }
    }
}
