
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    height: 64px;
    padding: 0 16px;
    border-bottom: 1px solid var(--cs-border-color);
    background: var(--cs-page-bg-color);

    &__left {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        line-height: 20px;

        .divider-line {
            width: 1px;
            height: 12px;
            background: var(--cs-border-color);
        }

        .btn-back {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 4px;
            height: 22px;
        }

        .top-bar__title {
            flex: 1;
            font-weight: 600;
        }

        .top-bar__sec_tit {
            font-size: 12px;
            color: var(--cs-font-color-3);
            min-width: fit-content;
        }
    }

    .icon-dropdown {
        font-weight: normal;
        font-size: 10px;
        color: var(--cs-font-color-3);
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease .2s;

        &.active {
            transform: rotate(180deg);
        }
    }

    .btn-group {
        display: flex;
        align-items: center;
        gap: 16px;

        [dl-button] {
            font-size: 12px;

            > * {
                pointer-events: none;
            }
        }
    }
}

main {
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    gap: 16px;
    background: var(--cs-bg-color-2, #F5F5F5);
}

.page-main {
    flex: 1;
    padding: 16px;
    height: 100%;
    overflow-y: auto;
    min-width: 620px;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 6px;
    }

    .document-page {
        position: relative;
        margin: auto;
        background: var(--cs-bg-color-1, #FFFFFF);
        border-radius: 8px;
        padding: 32px 64px;
        min-height: 100%;

        &[data-width="full"] {
            width: 100%;
        }

        &[data-width="wide"] {
            width: min(1200px, calc(100% - 32px));
        }

        &[data-width="default"] {
            width: min(908px, calc(100% - 32px));
        }
    }
}

.doc-header {
    position: relative;
    //border-bottom: 1px solid #E6E6E6;

    &__title {
        color: #333;
        font-size: 24px;
        font-weight: 600;
        outline: none;
        border: none;
        width: 100%;
        background: transparent;
        height: 56px;
        line-height: 56px;

        &::placeholder {
            color: #999;
        }
    }

    &:hover head-setter {
        display: block !important;
    }

    &__info {
        position: relative;
        color: #999;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 16px;
        white-space: nowrap;

        head-setter {
            display: none;
            position: absolute;
            padding: 0 20px 0 0;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            animation: fadeIn 0.2s ease-in-out forwards;
        }

        > .divider-line {
            width: 1px;
            height: 14px;
            background: #E6E6E6;
        }

        .count-summary {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;

            > span {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 14px;
            }
        }
    }
}

.edit-mode-menu {
    font-size: 12px;
}

::ng-deep {

    .ant-popover {
        all: unset;
        padding: 0 8px;
    }

    .ant-popover-inner {
        all: unset;
    }

    .ant-popover-arrow {
        display: none;
    }

    .ant-popover-inner-content {
        all: unset;
    }
}
