:host {
    display: block;
    height: 100%;

    aside {
        width: 278px;
        padding: 16px 0;
        background: var(--cs-bg-color);
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 100%;

        .aside-top {
            margin: 0 16px;
            display: flex;
            align-items: center;
            font-size: 16px;
            height: 22px;
            line-height: 22px;

            .tab-name {
                flex: 1;
            }

            .btn-toggle {
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }

        dl-tab {
            margin: 0 16px;
        }

        .aside-content {
            flex: 1;
            overflow-y: auto;
            padding: 8px 16px;
        }

    }

    .aside-expand-wrapper {
        padding: 32px 0 80px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &.left {
            padding-left: 16px;
        }

        &.right {
            padding-right: 16px;
        }

        .aside-expand-btn__group {
            display: flex;
            padding: 5px 0;
            width: 40px;
            height: fit-content;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: 1px solid #F9F9F9;
            background: #FFF;
            /* 上层投影 */
            box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.05), 0 16px 24px 2px rgba(0, 0, 0, 0.04), 0 8px 10px -5px rgba(0, 0, 0, 0.08);

            .aside-expand-btn {
                width: 30px;
                height: 30px;

                > * {
                    pointer-events: none;
                }
            }
        }

    }
}
