@use "../../styles/mixin" as *;

:host {

    aside {
        display: flex;
        flex-direction: column;

        folder-tree {
            flex: 1;
            width: calc(100% + var(--cs-card-padding) * 2);
            margin-left: calc(-1 * var(--cs-card-padding));
            padding: 0 var(--cs-card-padding);
        }

        .aside-head {
            margin-bottom: 18px;
            height: 48px;

            .title {
                display: flex;
                align-items: center;
                gap: 8px;
                height: 22px;
                line-height: 22px;
                color: var(--cs-font-color);
                font-size: 16px;
                font-weight: bold;
                padding-right: 40px;

                .btn-back {
                    cursor: pointer;

                    > i {
                        display: inline-block;
                        transition: all ease-in-out .2s;
                    }

                    &:hover {
                        > i {
                            transform: translateX(-5px);
                        }
                    }
                }

                .divider {
                    width: 2px;
                    height: 13px;
                    background-color: var(--cs-border-color);
                }

                .name {
                    flex: 1;
                }
            }

            .slogan {
                margin-top: 4px;
                color: var(--cs-font-color-3);
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    aside-menu-bar {
        .area-title {
            height: 33px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--cs-font-color-3);
            font-size: 12px;

            .btn-add {
                cursor: pointer;
            }
        }
    }


    main {

    }

}
