:host {
    display: block;

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .input {
        font-size: 14px;

        input {

            &::placeholder {
                color: var(--cs-font-color-3);
            }
        }
    }

    .flag-group {
        display: flex;
        align-items: center;
        gap: 4px;
        user-select: none;

        > span {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .row {
        display: flex;
        align-items: center;
        gap: 10px;

        .count {
            user-select: none;
            flex: 1;
        }

        > span {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .btn-group {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > button {
            width: 120px;
        }
    }
}


