:host {
    position: relative;
    width: 150px;
    height: 32px;

    .searcher {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        padding: 0 12px;
        height: 100%;
        align-items: center;
        gap: 4px;
        border-radius: 8px;
        background: var(--cs-bg-color-2);

        &:focus-within {
            z-index: 10;
            box-shadow: var(--cs-box-shadow);
        }

        input {
            flex: 1;
            width: 100px;
            border: none;
            outline: none;
            font-size: 14px;
            background: none;
            transition: width ease-in-out .2s;

            &::placeholder {
                color: var(--cs-font-color-3);
            }

            &:focus-visible {
                width: 500px;
            }
        }

        i {
            color: var(--cs-font-color-3);
        }
    }
}

.dialog-top {

    .top-text {
        display: flex;
        align-items: center;
        height: 50px;
        gap: 8px;
        font-size: 14px;
        padding: 0 10px;

        .pre-icon {
            min-width: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: var(--cs-primary-color);
            color: #fff;
            font-size: 10px;
        }

        .text {
            flex: 1;
            min-width: 0;
        }
    }


}
