@use "../../styles/mixin" as *;

;

:host {
    display: block;
    padding: 0 16px;

    &.empty {
        padding: 0;

        .folder-card-list {
            padding: 0;
            //margin-bottom: 16px;
        }
    }

    .icon-folder {
        color: $icon-folder-color;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }
}

.folder-card-list {
    width: calc(100% + 32px);
    transform: translateX(-16px);
    padding: 16px;
    overflow: hidden;
    max-height: 194px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    --card-line-count: 4;

    &.is-show-all {
        max-height: 461px;
        overflow-y: auto;
    }

    .folder-card {
        display: flex;
        align-items: center;
        gap: 8px;
        width: calc((100% - (var(--card-line-count) - 1) * 16px) / var(--card-line-count));
        height: 73px;
        padding: 0 var(--cs-card-padding);
        border-radius: var(--cs-border-radius);
        background: var(--cs-bg-color);
        box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        transition: box-shadow .2s ease-in-out;

        &.dl-skeleton {
            box-shadow: none;
        }

        &:hover, &.active {
            box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.1);

            .btn-more {
                display: block;
            }

            .info .title dl-favorite-icon {
                display: block;
            }
        }

        .info {
            flex: 1;
            line-height: 20px;
            overflow: hidden;

            .title {
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 4px;

                > span {
                    @include text-ellipsis(1);
                }

                dl-favorite-icon {
                    display: none;
                    flex-shrink: 0;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    cursor: pointer;

                    &.active {
                        display: block !important;
                    }
                }
            }

            .desc {
                font-size: 12px;
                color: var(--cs-font-color-3);
                @include text-ellipsis(1);
            }
        }

        .btn-more {
            display: none;
            flex-shrink: 0;
            width: 20px;
            min-width: 20px;
            height: 20px;

            > * {
                pointer-events: none;
            }

            &.active {
                display: block;
            }
        }

        .tags-row {

        }
    }

}

.show-more-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--cs-font-color-3);
    cursor: pointer;

    .line {
        width: 195px;
        height: 1px;
        @include carving_line();
    }

    .text {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        padding: 0 8px;

        i {
            transition: all .15s ease;

            &.is-expand {
                transform: rotate(180deg);
            }
        }
    }

}


